<div class="main bg-light">
  <div class="container">
    <nav>
      <div>
        <h3 class="m-2 d-flex justify-content-center">
          {{ images[currentSelection].title }}
        </h3>
      </div>
      <div class="img">
        <img
          [src]="images[currentSelection].imageUrl"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="mb-3 p-2 bg-warning">
        <span>{{ images[currentSelection].imageDesc }}</span>
      </div>
      <div>
        <ul class="pagination">
          <li
            class="page-item"
            [ngClass]="{ disabled: currentSelection === 0 }"
          >
            <a
              class="page-link"
              (click)="currentSelection = currentSelection - 1"
              >Prev</a
            >
          </li>
          <ng-container *ngFor="let images of images; let i = index">
            <li
              class="page-item"
              [ngClass]="{ active: i === currentSelection }"
              *ngIf="checkPaginationPosition(i)"
            >
              <a (click)="currentSelection = i" class="page-link">{{
                i + 1
              }}</a>
            </li></ng-container
          >
          <li
            class="page-item"
            [ngClass]="{ disabled: currentSelection === images.length - 1 }"
          >
            <a
              class="page-link"
              (click)="currentSelection = currentSelection + 1"
              >Next</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- <div class="switch">
  <div [ngSwitch]="currentSelection">
    <div *ngSwitchCase="0">
      <h2>{{ images[currentSelection].title }}</h2>
    </div>
    <div *ngSwitchCase="1">
      <h2>{{ images[currentSelection].title }}</h2>
    </div>
    <div *ngSwitchCase="2">
      <h2>{{ images[currentSelection].title }}</h2>
    </div>
    <div *ngSwitchDefault>
      <h2>No Image</h2>
    </div>
  </div>
</div> -->
